.btn{
    background-color: red;
    color: white;
}
* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  width: 100%;
  margin-bottom: 15px;
}
.alert-danger{
    color: red;
}
.ng-invalid.ng-touched:not(form) {
    border: 2px solid red;
  }
  
 .card{
  width:30%;
  margin-left: 35%;
  margin-right:20%;
  padding-left: 5%;
  padding-right:5%;
  margin-top:3%;
}
.title{
  float: right;
  margin-right: 35%;
  }
  
 