<button class="btn back-btn" type="submit" (click)="back()">back</button>
<div class="card">
  <form #stateForm="ngForm" (ngSubmit)="addState()" class="form">
    <br>
    <br>
    <div class="form-group input-container ">

      <input required name="stateName" type="text" #state class="form-control" placeholder="State Name" [(ngModel)]="stateName"> 
      <div class="alert alert-danger" *ngIf="state.touched && !state.valid">
        state is required.
      </div>
      <div class="alert-danger" *ngIf="control">{{errorMessage}}<br></div>

    </div>
    <button class="btn title" type="submit" [disabled]="state.valid">Add State</button>
  </form>
  <br>
</div>