<div *ngIf="!loggedIn" class="div"><button class=" btn back-btn" type="submit" (click)="login()">login</button>
</div>
<div *ngIf="loggedIn" class="div"><button class="btn  back-btn" type="submit" (click)="logout()">Logout</button>
    <span class="username">Welcome {{username}}</span><br></div>
<button *ngIf="control" class="btn booking" type="submit" (click)="listbookings()">list bookings</button><br>

<br>
<div><button class="btn  back-btn" type="submit" (click)="back()">back</button></div>
<div>
    <div class="search-movie">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="&#61442;  Start searching for a movies by name or actor name">
    </div>
    <div *ngFor="let movie of movies | Filter: searchText" class="list">
        
        <div class="card" *ngIf="movie.control">
                         <div class="card-title">
                    <h2>{{movie.moviename}}</h2>
                </div>
                <div class="card-body">
                    <div>
                        <h5>Actor:{{movie.actor}}</h5>
                    </div>
                    <div>Director:{{movie.director}}</div>
                    <div>Music:{{movie.musicdirector}}</div>
                    <div>
                        <h6>{{movie.language}},{{movie.genre}}</h6>
                    </div>
                    <div>{{movie.fromdate}} to
                        {{movie.todate}} </div>
                    <div>{{movie.showtiming}}-{{movie.extension}}</div>
                </div>
                <div class="card-footer">
                    <button class="btn book" type="submit"
                        (click)="book(movie.index)"
                        [disabled]="!control" title="first login to book movie">Book</button>
                </div>
                <br>
            
        </div>
    </div>
</div>