.card
{
    background-color: white ;
    width:30%;
    float:left;
}
.search-movie {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
.btn{
    width:30%;
    
}
.list{
    padding-left: 15%;
}
.card-footer
{
    padding-left: 10%;
    height:7vh;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.back{
    width:10%;
    float: left;
    background-color: red;
    color:white;
}
.div
{
    width:100%
}
.form-control::placeholder  {
    font-family: FontAwesome;
  }
  .booking{
      float:right;
      width:10%;
      background-color: red;
      color:white
  }
  .book{
    background-color: red;
    color:white

  }
  .username{
      float:right;
  }