* {box-sizing: border-box;}

.input-container {
  display: flex;
  } 
.alert-danger{
    color: red;
}
.ng-invalid.ng-touched:not(form) {
    border: 2px solid red;
  }
  
 .card{
   width:30%;
   margin-left: 35%;
   margin-right:20%;
   padding-left: 5%;
   padding-right:5%;
   margin-top:3%
 }
 .card-footer{
  color: white;
  background-color: red;
}
.title{
float: right;
margin-right: 35%;
}
.reg-btn{
background-color: red;
color:white;
}