<div><button class="btn btn-danger" type="submit" (click)="goHome()">{{ 'home' | translate}}</button></div>

<div class="card">
  <form #registerForm="ngForm" (ngSubmit)="submit()" class="form">

    <div class="card-title">
      <h3 class="title">{{'registerTitle' | translate}}</h3>
    </div>
    <br>

    <div class="card-body">
      <div class="form-group input-container">
        <i class="fa fa-user icon"></i>&nbsp;&nbsp;
        <input required minlength="3" [(ngModel)]="user.name"  name="userName" type="text" #userName="ngModel" class="form-control"
          id="userName">
      </div>
      <div class="alert alert-danger" *ngIf="userName.touched && !userName.valid">
        <div *ngIf="userName.errors.required">{{ 'nameRequiredError ' | translate }}</div>
        <div *ngIf="userName.errors.minlength">{{ 'nameInvalidError' | translate}} </div>
      </div>
      <div class="form-group input-container">
        <i class="fa fa-envelope icon"></i>&nbsp;
        <input required  [(ngModel)]="user.email"
        name="emailId" type="text" #emailId="ngModel" class="form-control" id="emailId"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
      </div>
      <div class="alert alert-danger" *ngIf="emailId.touched && !emailId.valid">
        <div *ngIf="emailId.errors.required">{{ 'emailRequiredeError' | translate}}</div>
        <div *ngIf="emailId.errors.pattern">{{ 'emailInvalidError' | translate}}</div>
      </div>
      <div class="form-group input-container">
        <i class="fa fa-key icon"></i> &nbsp;
        <input required          [(ngModel)]="user.password"
        minlength="6" name="password" type="password" #password="ngModel" class="form-control"
          id="password">
      </div>
      <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
        <div *ngIf="password.errors.required">{{ 'passwordRequiredError' | translate}}</div>
        <div *ngIf="password.errors.minlength">{{ 'passwordInvalidError' | translate}}</div>
      </div>
      <div class="alert-danger" *ngIf="errorStatus">{{ 'registerError' | translate}}<br></div>

      <div>
        <button class="btn reg-btn title" type="submit" [disabled]="!registerForm.valid">{{ 'registerTitle' | translate}}</button>
      </div>
    </div>
  </form>
  <br>
  <button class="btn btn-danger card-footer" type="submit" (click)="login()">{{ 'login' | translate}}</button>
  <br>
</div>