<div><button class=" btn back-btn" type="submit" (click)="back()">back</button></div>
<br>
<div class="outer">
    <div class="innerContainer">
        <div class="movie">
            <h3 class="movieTitle">{{movieShow.moviename}}</h3>
            <div class="movieDetails">INOX CINEMAS - {{movieShow.showname}} - {{movieShow.showtiming}} {{movieShow.extension}}</div>
            <div class="movieDetails">{{movieShow.language}} - {{movieShow.genre}}</div>
        </div>
    </div>
    <form #movieForm="ngForm">
        <mat-form-field>
            <mat-label>Select Date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="movieShow.fromdate" [max]="movieShow.todate" #showDate required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="form-group">
            <input required ngModel name="tickets" type="number" #tickets="ngModel" class="form-control" min='1'
                placeholder="number of seats">
            <div class="alert alert-danger" *ngIf="tickets.touched && !tickets.valid">
                <div *ngIf="tickets.errors.required">tickets is required.</div>
                <div *ngIf="tickets.errors.min">Enter the tickets correctly.</div>
            </div>
        </div>
        <button class="btn select-seat" type="submit" (click)="select(showDate.value,tickets.value)"
            [disabled]="!(tickets.valid || showDate.valid)">Select Seat</button>
    </form>
</div>
<br>