.select{
    height:25px;
    width:15%;
}
.logout{
    float: right;
}
.btn{
    background-color: red;
    color:white;
}
.card,.form{
    width:30%;
    margin-left: 35%;
    margin-right:20%;
    padding-left: 5%;
    padding-right:5%;
    margin-top:3%;
  }
  
  .form{
      width:70%
  }
  .form-control{
      width:25%
  }