<br><button class="btn  logout" type="submit" (click)="logout()">Logout</button>
<form #stateForm="ngForm" class="form">
    <br>
    <span class="form-group">
        <label>Select a state</label>
        <br>
        <select class="form-control" [(ngModel)]="selectedState" name="state" #state required (change)="change()">
            <option *ngFor="let state of states" [value]="state.states">{{ state.states }}</option>
        </select>
    </span> <br>
    <br>
    <button class="btn" *ngIf="control" title="add state" type="submit" (click)="add()">Add state</button> &nbsp;
    <button class="btn" *ngIf="control" title="delete state" type="submit" (click)="remove()">Delete state</button>
</form>
<br>
<div class="card"><br>
    <div class="list">
        <button class="btn" type="submit" [disabled]="control" (click)="listShow()">
            manage shows</button><br><br>
        <button class="btn" type="submit" [disabled]="control" (click)="listMovie()">
            manage movies</button><br><br>
        <button class="btn" type="submit" [disabled]="control" (click)="addSeats()">
            managevseats</button><br><br>
        <button class="btn" type="submit" [disabled]="control" (click)="listBookings()">
            manage Bookings</button><br><br>
        <button class="btn" type="submit" [disabled]="control" (click)="listMovieShow()">
            manage movie-shows</button><br><br>
    </div>
    <br>
</div>