
* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  width: 100%;
  margin-bottom: 15px;
}
.alert-danger{
    color: red;
}
.ng-invalid.ng-touched:not(form) {
    border: 2px solid red;
  }
  
 .back{
  width:10%;
  float: left;
}
.card{
  width:50%;
  margin-left: 25%;
  margin-right:20%;
  padding-left: 5%;
  padding-right:5%;
  margin-top:3%;
}
.card-footer{
  color: black;
}
.add-show{
  float: right;
  margin-right: 45%;
  }