<div><button class="btn back-btn" type="submit" (click)="back()">back</button></div>
<br>
<div class="card">
    <form #showForm="ngForm" (ngSubmit)="submit()" class="form">
        <h4 class="card-title add-show">Shows</h4>
        <br>
        <div class="form-group input-container">
            <label>Show Name</label>
            <input required minlength="7" [(ngModel)]="show.showName" name="showName" type="text" #showName="ngModel" class="form-control">
            <div class="alert alert-danger" *ngIf="showName.touched && !showName.valid">
                <div *ngIf="showName.errors.required">Show Name is required.</div>
                <div *ngIf="showName.errors.minlength">Show Name is minimum
                    {{ showName.errors.minlength.requiredLength }}
                    character.</div>
            </div>
        </div>
        <div class="form-group input-container">
            <label>Show Timing</label>
            <input required pattern="^(([0]?[1-9]|1[0-2])(:)([0-5][0-9]))$" [(ngModel)]="show.showTiming" name="showTiming" type="text" #showTiming="ngModel" class="form-control">
            <div class="alert alert-danger" *ngIf="showTiming.touched && !showTiming.valid">
                <div *ngIf="showTiming.errors.required">Show Timing is required.</div>
                <div *ngIf="showTiming.errors.pattern">Enter a valid time(01:00 to 12:59)</div>
            </div>
        </div>
        <button class="btn btn-danger add-show" type="submit" [disabled]="!(showName.valid && showTiming.valid)">Add
            Show</button>
    </form>
    <br>
</div>