<br>
<div><button class="btn back" type="submit" (click)="back()">back</button></div>
<br>
<br>
<div *ngIf="bookings.length==0" class="no-booking">No Bookings added</div>
<table class="table table-bordered" *ngIf="bookings.length>0">
    <thead>
        <tr>
            <th>Booking Id</th>
            <th>Movie Name</th>
            <th>Show Timing</th>
            <th>Seat Number</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let booking of bookings | Filter: userName">
            <td>{{booking.bookingid}}</td>
            <td>{{booking.moviename}}</td>
            <td>{{booking.showtiming}}-{{booking.extension}}</td>
            <td>{{booking.seat}}</td>
            <td>{{booking.showdate | date: 'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
</table>