.list{
    float:right;
    width:15%
}
table{
    width: 60%;
    margin-left: 20%;
}
th{
    background-color: red;
    color:white
}
.back{
    width:10%;
    float: left;
    background-color: red;
    color:white;
}
