.back{
    width:10%;
    float: left;
    background-color: red;
    color:white
}
table{
    width: 60%;
    font-size: 12px;
    margin-left: 10%;
}
th{
    background-color: red;
    color:white
}
.action
{
    background-color: red;
    color:white;
}