<br>
<div><button class="btn  back" type="submit" (click)="back()">back</button></div>
<br>
<br>
<button class="btn  back" type="submit" (click)="addMovieShow()">Add</button>
<br>
<br>
<br>
<div *ngIf="movies.length==0">No movie show added</div>
<table class="table table-bordered" *ngIf="movies.length>0">
    <thead>
        <tr>
            <th>Movie Show Id</th>
            <th>Movie Id</th>
            <th>Movie Name</th>
            <th>Show Id</th>
            <th>Show Name</th>
            <th>Show Timing</th>
            <th>Language</th>
            <th>Genre</th>
            <th>Fare</th>
            <th>Actor</th>
            <th>Director</th>
            <th>Music Director</th>
            <th>From</th>
            <th>To</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies">
            <td>{{movie.movie_showsid}}</td>
            <td>{{movie.movieid}}</td>
            <td>{{movie.moviename}}</td>
            <td>{{movie.showid}}</td>
            <td>{{movie.showname}}</td>
            <td>{{movie.showtiming}}</td>
            <td>{{movie.language}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.fare}}</td>
            <td>{{movie.actor}}</td>
            <td>{{movie.director}}</td>
            <td>{{movie.musicdirector}}</td>
            <td>{{movie.fromdate | date: 'dd/MM/yyyy'}}</td>
            <td>{{movie.todate | date: 'dd/MM/yyyy'}}</td>
            <td><a (click)="delete(movie.movie_showsid)" class="btn action">Delete </a></td>
        </tr>
    </tbody>
</table>