
<div><button class="btn btn-danger" type="submit" (click)="goHome()">{{'home' | translate}}</button></div>

<br>
<div class="card">
  <form #LoginForm="ngForm" (ngSubmit)="submit(LoginForm.value)">
    <h3 class="card-header">{{'loginTitle' | translate}}</h3>
    <div class="card-body">
      <div class="form-group input-container ">
        <i class="fa fa-envelope icon"></i>&nbsp;
        <input required minlength="10" maxlength="50" [(ngModel)]="email" name="emailId" type="text" #emailId="ngModel" 
          class="form-control" id="emailId" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
        </div>
        <div class="alert alert-danger" *ngIf="emailId.touched && !emailId.valid">
          <div *ngIf="emailId.errors.required">{{'emailRequiredError' | translate}}</div>
          <div *ngIf="emailId.errors.pattern">{{'emailInvalidError' | translate}}</div>
        </div>
      <div class="form-group input-container">
        <i class="fa fa-key icon"></i> &nbsp;
        <input required [(ngModel)]="Password" name="password" type="password" #password="ngModel" class="form-control">
         </div>
      <div >
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
          {{'passwordRequiredError' | translate}}  </div>
        <div class="alert-danger" *ngIf="loginControl" class="errorMessage">{{ 'loginError' | translate}}<br></div>

        <button class="btn  title login-btn" type="submit"
          [disabled]="!(emailId.valid && password.valid)">{{'loginTitle' | translate}}</button>
      </div>
    </div>
  </form>
  <br>
  <button class="btn btn-danger card-footer" type="submit" (click)="register()">{{'register' | translate}}</button>
  <br>
</div>
