<button class="btn back-btn" type="submit" (click)="back()">back</button>

<div class="card">
    <form #stateForm="ngForm" class="form">
        <br><br>
        <div class="form-group">
            <select class="form-control" [(ngModel)]="selectedState" name="state" #state required >
                <option *ngFor="let state of states" [value]="state.states">{{ state.states }}</option>
            </select>
        </div>
        <button class="btn title" (click)="delete()" type="submit"
            [disabled]="state.value=='Select a state'">delete state</button>
    </form>
    <br>
</div>