<div><button class="btn btn-danger back" type="submit" (click)="back()">back</button></div>
<br>
<br>
<button class="btn  btn-danger back" type="submit" (click)="addMovie()">Add Movie</button>
<br>
<br>
<div *ngIf="movies.length==0"> No Movie added</div>
<table class="table table-bordered" *ngIf="movies.length>0">
    <thead>
        <tr>
            <th>Movie Id</th>
            <th>Movie Name</th>
            <th>Language</th>
            <th>Genre</th>
            <th>Fare</th>
            <th>Actor</th>
            <th>Director</th>
            <th>Music Director</th>
            <td colspan="2" class="action">Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies">
            <td>{{movie.movieid}}</td>
            <td>{{movie.moviename}}</td>
            <td>{{movie.language}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.fare}}</td>
            <td>{{movie.actor}}</td>
            <td>{{movie.director}}</td>
            <td>{{movie.musicdirector}}</td>
            <td><a [routerLink]="['edit', movie.movieid]" class="btn btn-primary">Edit </a></td>
            <td><a (click)="delete(movie.movieid)" class="btn action">Delete </a></td>
        </tr>
    </tbody>
</table>