<mat-toolbar class="topNavigation">
    <img src="../assets/images/logo.png" alt="logo" class="logo">
    <span class="title">
      Book  My Flick
    </span>
    <span class="spacer"></span>
  </mat-toolbar>
<br>