ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  span {
    text-decoration: none;
    color: white;
  }
  
  ul {
    display: flex;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .topNavigation {
      background-color:red;
      width:100%;
      height: 10%;
      font-family: 'Times New Roman', Times, serif;
  }
  .logo {
      height: 13vh;
      padding-top: 1%;
      padding-bottom: 1%;
      align-content: center;
  }
    
  .title  {
      padding-left: 9%;
      font-size: 2vw;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
  }
  .items  {
      font-family: 'Times New Roman', Times, serif;
  }
  .back
  {
    color: black;
  }