<div><button class="btn back-btn" type="submit" (click)="back()">back</button></div>
<br>
<div class="card">
    <div class="alert-danger" *ngIf="control">{{errorMessage}}<br></div>
    <form #movieForm="ngForm" (ngSubmit)="submit()" class="form">
        <h4 class="card-title add-show">Add Movie Show</h4>
        <br>
        <br>
        <div class="mat form-group" >
            <mat-form-field>
                <mat-label>From</mat-label>
                <input matInput [matDatepicker]="picker" #fromDate [(ngModel)]="movieshow.fromDate" name="fromDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <mat-label>To</mat-label>
                <input matInput [matDatepicker]="pickerto" #toDate [(ngModel)]="movieshow.toDate" name="toDate">
                <mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
                <mat-datepicker #pickerto></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label>Show</label>
            <select class="form-control" name="show" #show [(ngModel)]="movieshow.showName">
                <option value="">Select a show</option>
                <option *ngFor="let show of shows" [value]="show.showname">{{ show.showname }}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Movie</label>
            <select class="form-control" name="movie" #movie [(ngModel)]="movieshow.movieName">
                <option value="">Select a movie</option>
                <option *ngFor="let movie of movies" [value]="movie.moviename">{{ movie.moviename }}</option>
            </select>
        </div>
        <br>
        <button class="btn  add-show" type="submit">Add Movie Show</button>
    </form>
    <br>
</div>