<div ><button class="btn btn-danger back-btn" type="submit" (click)="back()">back</button></div>
<br>
<div class="card">
<form #showForm="ngForm" (ngSubmit)="update(showForm.value)" class="form">
    <h5 class="card-title add-show">Update Show</h5>
    <br>
    <div class="form-group input-container">
        <label>
            Show Name
        </label>
        
        <input required minlength="7" name="showName" type="text" #showName="ngModel" [(ngModel)]='show.showName'
            class="form-control" >
        <div class="alert alert-danger" *ngIf="showName.touched && !showName.valid">
            <div *ngIf="showName.errors.required">Show Name is required.</div>
            <div *ngIf="showName.errors.minlength">Show Name is minimum {{ showName.errors.minlength.requiredLength }}
                character.</div>
        </div>
    </div>
    <div class="form-group input-container">
        <label>
            show Timing
        </label>
                <input required   name="showTiming" type="text" #showTiming="ngModel"
            class="form-control" [(ngModel)]='show.showTiming'>
        <div class="alert alert-danger" *ngIf="showTiming.touched && !showTiming.valid">
            <div *ngIf="showTiming.errors.required">Show Timing is required.</div>
        </div>
    </div>
        <button class="btn btn-danger add-show" type="submit"
        [class.disabled]="!(showName.valid || showTiming.valid)">Update Show</button>
</form>
<br>
</div>