<div class=" alert-danger" *ngIf="errorStatus">{{'stateError' | translate}}<br></div>

<form #stateForm="ngForm" class="form">
    <br> <br>
    <div class="form-group">
        <div>{{'selectState' | translate}}</div>
        <select class="form-control" name="state" #state required (change)="onChange()" [(ngModel)]="selectedState">
            <option *ngFor="let state of states" [value]="state.states">{{ state.states }}</option>
        </select>
    </div>
    <br>
    <button class="btn go-home-btn" (click)="goHome()" type="submit">Go home</button>
</form>
