.ng-invalid.ng-touched:not(form) {
    border: 2px solid red;
  }
  form{
    width:60%;
    padding-left: 40%;
  }
  .go-home-btn
  {
    background-color: red;
    color:white;
    margin-left:30%
  }