<br>
<div><button class="btn btn-danger back" type="submit" (click)="back()">back</button></div>
<br>
<br>
<div>
    <button class="btn btn-danger back" type="submit" (click)="addShow()">Add Show</button>
</div>
<br>
<br>
<div *ngIf="shows.length==0">No shows Added</div>
<table class="table table-bordered" *ngIf="shows.length>0">
    <thead>
        <tr>
            <th>Show Id</th>
            <th>Show Name</th>
            <th>Show Timing</th>
            <td colspan="2" class="action">Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let show of shows">
            <td>{{show.showid}}</td>
            <td>{{show.showname}}</td>
            <td>{{show.showtiming}}</td>
            <td><a [routerLink]="['edit', show.showid]" class="btn btn-primary">Edit </a></td>
            <td><a (click)="delete(show.showid)" class="btn action">Delete </a></td>
        </tr>
    </tbody>
</table>