<div *ngIf="control">
    <div><button class=" btn back-btn" type="submit" (click)="back()">back</button></div>
    <br>
    <div class="outer">
        <div class="innerContainer">
            <div class="movie">
                <h3 class="movieTitle">{{movieshow.moviename}}</h3>
                <div class="movieDetails">INOX CINEMAS - {{movieshow.showname}} - {{movieshow.showtiming}} {{movieshow.extension}}</div>
                <div class="movieDetails">{{movieshow.language}} - {{movieshow.genre}}</div>
    
            </div>
        </div>
        <br>
        <div class="seats-table">
    
            <div class="w3ls-reg">
    
                <ul class="seat_w3ls">
                    <li class="smallBox greenBox">Selected Seat</li>
    
                    <li class="smallBox redBox">Reserved Seat</li>
    
                    <li class="smallBox emptyBox">Empty Seat</li>
                </ul>
                <div class="seatStructure txt-center">
                    <table id="seatsBlock">
                        <p id="notification"></p>
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
    
                        </tr>
                        <tr *ngFor="let row of rows">
                            <td>{{row}}</td>
                            <td *ngFor="let col of cols">
                                <input [ngClass]="{bookedseats : true}" [disabled]='finalBookedSeats.includes(row+col)'
                                    type="checkbox" (change)="check($event.target)" class="seats bookedseats"
                                    [value]="row+col">
                            </td>
    
                        </tr>
                    </table>
    
                    <div class="screen">
                        <!-- <h2 class="wthree">Screen this way</h2> -->
                        <h2 class="wthree"> Screen this way</h2>
                    </div>
                    <br>
                    <button class="btn-sucess" (click)="confirm()">Confirm Selection</button>
                </div>
                <!-- //seat layout -->
                <!-- details after booking displayed here -->
    
                <div *ngIf="selection">
                    <br>
                    <table class="final-table table-bordered">
                        <tr>
                            <th>Amout to Pay</th>
                            <th>Number of Seats</th>
                            <th>Seats</th>
                        </tr>
                        <tr>
                            <td>
                                {{amount}}
                            </td>
                            <td>
                                {{numberOfSeats}}
                            </td>
                            <td>
                                {{seatString}}
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <button (click)="book()" class="btn-success book">Book</button>
    
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="message" *ngIf="!control" >
        <h2>
        {{message}}</h2>
        <br>
        <button *ngIf="success"(click)="onSuccess()" class=" btn btn-success">Ok</button>
        <button *ngIf="!success" (click)="onError()" class=" btn btn-success">Ok</button>
    
    </div>