* {box-sizing: border-box;}

.input-container {
  display: flex;
  } 
.alert-danger{
    color: red;
}
.ng-invalid.ng-touched:not(form) {
    border: 2px solid red;
  }
  
 .card{
   width:50%;
   margin-left: 25%;
   margin-right:20%;
   padding-left: 5%;
   padding-right:5%;
   margin-top:3%;
 }
 .card-footer{
   color: black;
 }
 .title{
float: right;
margin-right: 35%;
}
.add-show{
  float: right;
  margin-right: 45%;
  }
  .back{
    width:10%;
    float: left;
  }