<div><button class="btn  back-btn" type="submit" (click)="back()">back</button></div>
<br><br>
<button class="btn  title back-btn" type="submit" (click)="list()">list Seats</button>
<br>
<div class="card">
  <form #seatForm="ngForm" (ngSubmit)="addSeats()">
    <h5 class="card-title add-show">Add Seats</h5>
    <br>
    <div class="card-body">
      <div class="form-group input-container ">
        <input required ngModel name="rows" type="number" [(ngModel)]="rows" #row min="1" class="form-control" id="rows"
          placeholder="Number of rows ( min value = 1)">
        <!-- <div class="alert alert-danger" *ngIf="rows.touched && !rows.valid">
            <div *ngIf="rows.errors.required">rows is required.</div>
            <div *ngIf="rows.errors.min">Please Enter a rows</div>
            </div> -->
      </div>
      <div class="form-group input-container">
        <input required ngModel name="cols" type="number" [(ngModel)]="cols" #col class="form-control"
          placeholder="Number Of Cols ( min value = 1)">
        <!-- <div class="alert alert-danger" *ngIf="cols.touched && !cols.valid">
            cols is required.
          </div> -->
      </div>
      <div>
        <button class="btn btn-danger title add-show" type="submit">Add Seats</button>
      </div>
      <br>
    </div>
    <br>
  </form>