.seats{
    padding-right:35%;
    width:80%;
    float:right;
}
title{
    margin-left:40%
}
.back{
    width:10%;
    float: left;
    background-color: red;
  }
  table{
    width: 60%;
    margin-left: 20%;
}
th{
    background-color: red;
    color:white
}