<div><button class="btn btn-danger back" type="submit" (click)="back()">back</button></div>
<br>
<div class="seats">
    <div *ngIf="seats.length==0">No seats Added</div>
    <h4 class="title">Row Seats arragement</h4>
    <br>
    <table class="table table-bordered seats" *ngIf="seats.length>0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Row Number</th>
                <th>Seat Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seat of seats">
                <td>{{seat.row_seatsid}}</td>
                <td>{{seat.rowid}}</td>
                <td>{{seat.seatid}}</td>
            </tr>
        </tbody>
    </table>
</div>