<div><button class="btn back-btn" type="submit" (click)="back()">back</button></div>
<br>
<div class="card">
    <form #movieForm="ngForm" (ngSubmit)="update()" class="form">
        <h5 class="card-title add-show">Update Movie</h5>
        <br>
        <br>
        <div class="form-group input-container">
            <label>Movie Name</label>
            <input required ngModel name="movieName" type="text" #movieName="ngModel" class="form-control"
                [(ngModel)]='movie.movieName'>
            <div class="alert alert-danger" *ngIf="movieName.touched && !movieName.valid">
                <div *ngIf="movieName.errors.required">Movie Name is required.</div>
            </div>
        </div>
        <div class="form-group input-container">
            <label>Language</label>
            <select class="form-control" name="language" #language="ngModel" ngModel [(ngModel)]='movie.language'>
                <option value="">Select an option</option>
                <option *ngFor="let language of Languages" [value]="language">
                    {{language}}
                </option>
            </select>
        </div>
        <div class="form-group input-container">
            <label>Genre</label>
            <select class="form-control" name="genre" #genre="ngModel" ngModel [(ngModel)]='movie.genre'>
                <option value="">Select an option</option>
                <option *ngFor="let genre of Genres" [value]="genre">
                    {{genre}}
                </option>
            </select>
        </div>
        <div class="form-group input-container">
            <label>Fare </label>
            <input required ngModel name="fare" type="number" #fare="ngModel" class="form-control" min="90"
                [(ngModel)]='movie.fare'>
            <div class="alert alert-danger" *ngIf="fare.touched && !fare.valid">
                <div *ngIf="fare.errors.required">Fare is required.</div>
                <div *ngIf="fare.errors.min">Enter the fare correctly.</div>
            </div>
        </div>
        <div class="form-group input-container">
            <label>Actor </label>
            <input required ngModel name="actor" type="text" #actor="ngModel" class="form-control" [(ngModel)]='movie.actor'>
            <div class="alert alert-danger" *ngIf="actor.touched && !actor.valid">
                <div *ngIf="actor.errors.required">actor is required.</div>
            </div>
        </div>
        <div class="form-group input-container">
            <label>
                Director
            </label>
            <input required ngModel name="director" type="text" #director="ngModel" class="form-control"
                [(ngModel)]='movie.director'>
            <div class="alert alert-danger" *ngIf="director.touched && !director.valid">
                <div *ngIf="director.errors.required">Director is required.</div>

            </div>
        </div>
        <div class="form-group input-container">
            <label>Music Director</label>
            <input required ngModel name="musicDirector" type="text" #musicDirector="ngModel" class="form-control"
                [(ngModel)]='movie.musicDirector'>
            <div class="alert alert-danger" *ngIf="musicDirector.touched && !musicDirector.valid">
                <div *ngIf="musicDirector.errors.required">Music Director is required.</div>
            </div>
        </div>
        <button class="btn btn-danger add-show" type="submit" [class.disabled]="!movieForm.valid">update Movie</button>
    </form>
</div>